<ion-header [translucent]="true">
  <ion-toolbar color="dark">
    <ion-title class="ion-text-center" color="light">
      INTO THE WILD
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="auth-form">
  <ion-grid class="ion-text-center">
    <ion-row>
      <img src="/assets/icon/ITW.png" class="center">
      <br>
    </ion-row>
    <ion-row class="ion-padding">
      <ion-col align-self-center>
        <ion-button [routerLink]="['/signup']" expand="block" size="large" color="primary">Sign up</ion-button>

        <h4 color="light">or</h4>
        <h4 color="light"> Already a user?</h4>

        <ion-button [routerLink]="['/login']" expand="block" size="large" color="danger">Login</ion-button>
        <br>
        <ion-button [routerLink]="['/profile']" expand="block" size="large" color="tertiary">Profile</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
